[submodule "app/src/main/cpp/external/zstd"]
	path = app/src/main/cpp/external/zstd
	url = https://github.com/facebook/zstd
[submodule "app/src/main/cpp/external/lz4"]
	path = app/src/main/cpp/external/lz4
	url = https://github.com/lz4/lz4
